<script>
    import Footer from "./Footer.svelte";
    import Header from "./Header.svelte";
</script>

<div class="container">
    <Header />
    <slot />
    <Footer />
</div>

<style>
    .container {
        max-width: 50em;
        margin: 0 auto;
    }
</style>
