<header>
    <h1>t4a-kontakte</h1>
</header>

<style>
    h1 {
        padding: 0.5em;
        background-color: green;
        color: white;
        text-shadow: 0.1em 0.1em 0.1em black;
        box-shadow: 0.1em 0.1em 0.2em black;
    }
</style>
