<script>
    import {
        refreshTable,
        contactToDelete,
        formVisible,
    } from "$lib/contacts.svelte";
    import { RestClient } from "$lib/restclient";

    const buttonCancelClick = () => {
        // show table
        formVisible.state = "main";
    };

    const buttonDeleteConfirmClick = async () => {
        const restclient = new RestClient();

        // Kontakt auf Server löschen
        await restclient.deleteContact(contactToDelete.id);

        // neue Liste vom Server holen
        await refreshTable();

        // show table
        formVisible.state = "main";
    };
</script>

<div class="box">
    <h2>Kontakt löschen</h2>
    <p>Wollen Sie {contactToDelete.name} wirklich löschen?</p>
    <div class="buttonBox">
        <button onclick={buttonCancelClick}>Abbrechen</button>
        <button onclick={buttonDeleteConfirmClick}>Löschen</button>
    </div>
</div>

<style>
    .box {
        box-shadow: 0.1em 0.1em 0.2em black;
    }

    h2 {
        padding: 0.5em;
        margin: 0;
    }

    .buttonBox {
        display: flex;
        gap: 0.5em;
        width: 100%;
        padding: 0.5em;
    }

    button {
        width: 100%;
        padding: 0.5em;
    }
</style>
