<script>
    import { goto } from "$app/navigation";
    import { refreshTable } from "$lib/contacts.svelte";
    import { RestClient } from "$lib/restclient";

    let name = $state("");
    let phone = $state("+49 ");
    let gender = $state("d");

    const buttonCancelClick = () => {
        goto("/t4a-fullstack/");
    };

    const buttonSaveClick = async () => {
        // Create new contact
        const newContactWithoutID = {
            name: name,
            phone: phone,
            gender: gender,
        };

        // Save new Contact
        //createContact(newContactWithoutID);
        const restClient = new RestClient();
        await restClient.createContact(newContactWithoutID);

        // neue Liste vom Server holen
        await refreshTable();

        // Back to start
        goto("/t4a-fullstack/");
    };
</script>

<svelte:head>
    <title>t4a-fullstack | Neu</title>
    <meta name="description" content="Beispiel für CRUD-App mit Svelte 5" />
</svelte:head>

<div class="box">
    <h2>Neuen Kontakt erstellen</h2>
    <div class="container">
        <div class="input">
            <label for="inputName">Name</label>
            <input bind:value={name} id="inputName" type="text" />
        </div>

        <div class="input">
            <label for="inputPhone">Telefon</label>
            <input bind:value={phone} id="inputPhone" type="tel" />
        </div>

        <fieldset class="radioGroup">
            <legend>Geschlecht</legend>
            <div class="radio">
                <input
                    bind:group={gender}
                    value="w"
                    type="radio"
                    name="gender"
                    id="radioW"
                />
                <label for="radioW">weiblich</label>
            </div>
            <div class="radio">
                <input
                    bind:group={gender}
                    value="m"
                    type="radio"
                    name="gender"
                    id="radioM"
                />
                <label for="radioM">männlich</label>
            </div>
            <div class="radio">
                <input
                    bind:group={gender}
                    value="d"
                    type="radio"
                    name="gender"
                    id="radioD"
                />
                <label for="radioD">divers</label>
            </div>
        </fieldset>
    </div>
    <div class="buttonBox">
        <button onclick={buttonCancelClick}>Abbrechen</button>
        <button onclick={buttonSaveClick}>Speichern</button>
    </div>
</div>

<style>
    .box {
        box-shadow: 0.1em 0.1em 0.2em black;
    }

    h2 {
        padding: 0.5em;
        margin: 0;
    }

    .input {
        padding: 0.5em;
    }

    .input label {
        display: block;
        text-align: left;
        padding: 0.5em;
    }

    .input input {
        display: block;
        width: 100%;
        padding: 0.5em;
    }

    .radioGroup {
        border: none;
        margin-left: 0.5em;
        padding: 0.5em;
    }

    .radioGroup .radio {
        text-align: left;
        padding-left: 0.5em;
    }

    .radioGroup .radio label {
        display: inline;
    }

    .buttonBox {
        display: flex;
        gap: 0.5em;
        width: 100%;
        padding: 0.5em;
    }

    button {
        padding: 0.5em;
        width: 50%;
    }

    @media (min-width: 40em) {
        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .input {
            width: 50%;
        }
    }
</style>
